* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 5 00;
}

.nav-button {
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}
