* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 5 00;
}

.button {
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.hero {
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1300px;
  width: 100%;
}

.early-access {
  background-color: #ffffff;
  color: #30b868;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 500px;
}

.hero-title,
.hero-title-green {
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}

.hero-title-green {
  color: #30b868;
}

.hero-text {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.hero-btn-container {
  display: flex;
  gap: 12px;
}

.hero-vault-btn,
.hero-works-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}

.hero-works-btn {
  background-color: transparent;
  border: 1px solid white;
}

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature h1 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}

.feature-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
}

.feature-card-container {
  margin-top: 28px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-card {
  width: 20%;
  padding: 60px 24px;
  /* border: 0.1px solid gray; */
  box-shadow: 0 0 8px 0px #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.feature-card h3 {
  font-size: 24px;
  font-weight: 600;
}

.feature-card p {
  font-size: 16px;
  font-weight: 400;
}

.feature-icon {
  height: 60px;
  width: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
