* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

.button {
  background-color: #30b868;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.hero {
  background-image: url('./assets/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1300px;
  width: 100%;
}

.early-access {
  background-color: #ffffff;
  color: #30b868;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 500px;
}

.hero-title,
.hero-title-green {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.hero-title-green {
  color: #30b868;
}

.hero-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.hero-btn-container {
  display: flex;
  gap: 12px;
}

.hero-vault-btn,
.hero-works-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
}

.hero-works-btn {
  background-color: transparent;
  border: 1px solid white;
}

.feature {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feature h1 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}

.feature-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
}

.feature-card-container {
  margin-top: 28px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-card {
  width: 20%;
  padding: 60px 24px;
  /* border: 0.1px solid gray; */
  box-shadow: 0 0 8px 0px #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.feature-card h3 {
  font-size: 24px;
  font-weight: 600;
}

.feature-card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.feature-icon {
  height: 60px;
  width: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution-container {
  display: flex;
  gap: 80px;
  overflow: hidden;
}

.solution-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
}

.solution-content h5 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #469165;
}
.solution-content h2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
  color: #001931;
}

.solution-content p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.solution-content ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solution-content ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  /* justify-content: center; */
}

.registration {
  background-color: #f7f6f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 80px 40px;
  gap: 16px;
  border-radius: 12px;
}

.registration h1 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
}

.registration p {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

footer {
  padding: 120px 120px 30px 120px;
  background-color: #001931;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 80px;
}

.social-media {
  padding-right: 50px;
}

.social-media h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  padding-bottom: 16px;
}

.social-media ul {
  display: flex;
  gap: 16px;
}

.social-media li {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-align: center;
  border-top: 0.5px solid rgb(73, 73, 73);
  padding-top: 30px;
}
